[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
ttkbootstrap = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
pytesseract = "*"
pillow = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
